/* ===== FONDO GENERAL ===== */
body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:url("https://w0.peakpx.com/wallpaper/814/424/HD-wallpaper-starboy-vibes-abel-tesfaye-night-weeknd.jpg") center/cover no-repeat;
  backdrop-filter:brightness(30%);
  color:white;
  text-align:center;
}

/* ===== TITULO ===== */
header{
  padding:20px;
  background:rgba(0,0,0,0.7);
}
.subtitulo{
  margin-top: -10px;
  font-style:italic;
  opacity:.8;
}

/* ===== CARD DEL PRODUCTO ===== */
.card{
  width:320px;
  margin:40px auto;
  padding:20px;
  background:#000;
  border-radius:12px;
  box-shadow:0 0 10px rgba(255,255,255,.2);
  transition:.4s;
}

.img-zapa{
  width:100%;
  border-radius:10px;
}

/* Texto */
.info h2{margin:10px 0;}
.precio{font-size:18px;}

/* ===== CONTROLES DE CANTIDAD ===== */
.cantidad{
  margin-top:15px;
  font-size:18px;
}

.cantidad button{
  width:35px;
  height:35px;
  margin:0 6px;
  border:none;
  font-size:20px;
  font-weight:bold;
  background:#222;
  color:white;
  cursor:pointer;
  border-radius:6px;
  transition:.3s;
}

.cantidad button:hover{
  background:#444;
}

.total{
  font-size:22px;
  margin-bottom:40px;
}

footer{
  background:#000000aa;
  padding:10px;
  font-size:14px;
}
