/*fondo*/
body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:url("https://w0.peakpx.com/wallpaper/814/424/HD-wallpaper-starboy-vibes-abel-tesfaye-night-weeknd.jpg") center/cover no-repeat;
  backdrop-filter:brightness(30%);
  color:white;
  text-align:center;
}

.producto-imagen-confirmacion {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto 15px auto; 
  }

/* TITULO */
header{
  padding:20px;
  background:rgba(0,0,0,0.7);
}
.subtitulo{
  margin-top: -10px;
  font-style:italic;
  opacity:.8;
}

/* caja DEL PRODUCTO */
.caja{
  width:320px;
  margin:40px auto;
  padding:20px;
  background:#000;
  border-radius:12px;
  box-shadow:0 0 10px rgba(255,255,255,.2);
  transition:.4s;
}
.img-zapa{
  width:100%;
  border-radius:10px;
}

.info h2 {
  font-size: 18px;
  margin: 15px 0;
  color: #ffffff;
}

.info p {
  font-size: 14px;
  line-height: 1.6;
  margin: 10px 0;
  color: #ccc;
}
.precio {
  font-size: 16px ;
  color: #ffffff ;
  font-weight: bold ;
  margin: 15px 0 ;
}

.total {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin: 20px 0;
}

/* BOTON COMPRAR */
.Comprar {
  padding: 15px 50px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: red;;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(145, 3, 3, 0.584);
  text-transform: uppercase;
  letter-spacing: 1px;
}
/*animacion comp*/
.Comprar:hover {
  background-color: rgb(130, 4, 4);
  transform: translateY(-3px);
}
.btn-rojo {
  display: inline-block;
  padding: 15px 50px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(145, 3, 3, 0.584);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

/* BOTON VOLVER */
.volver {
  padding: 15px 50px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: red;;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(145, 3, 3, 0.584);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.volver:hover {
  background-color: rgb(130, 4, 4);
  transform: translateY(-3px);
}

footer{
  background:#000000aa;
  padding:10px;
  font-size:14px;
}
